/* 
87, 124, 138
88, 178, 220
0, 98, 132

*/

body {
    background-color: rgb(87, 124, 138);
}
#btn {
    background: transparent;
    border: none;
}
.form {
    background: transparent;
    color: transparent;
}
.form input {
    background: transparent;
    border: none;
}
.container {
    color: transparent;
}
.hidden_box {
    width: 5vw;
    height: 5vh;
    background-color: transparent;
    position: absolute;
    top: 50vh;
    right: 10vw;

}